.container{
    $max-width: 1250px;
    $padding: 1rem;
    width: min($max-width, 100% - $padding);
    margin-inline: auto;
}

.container-header{
    $max-width: 1750px;
    $padding: 1rem;
    width: min($max-width, 100% - $padding);
    margin-inline: auto;
}
