/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: min(1189px, 100% - 1rem);
  margin-inline: auto;
}

.container-header {
  width: min(1750px, 100% - 1rem);
  margin-inline: auto;
}

/* SHADOW*/
.blog-shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.blog-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/* SHADOW*/
/* Minimap */
.minimap__container {
  position: fixed;
  top: 100px;
  right: 0px;
  min-width: 20px;
  z-index: 100;
}

.minimap__size {
  position: relative;
  z-index: 5;
  border: 2px solid white;
}

.minimap__viewer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.6039215686);
}

.minimap__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: 0 0;
  border: 1px solid white;
}

.header {
  padding-block: 34px;
}
.header .header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**NAVIGATION**/
.header__nav .header__list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__nav .header__list .header__link {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: hsl(0deg, 0%, 9%);
  transition: 500ms ease-in;
}
.header__nav .header__list .header__link:hover {
  color: hsl(39deg, 46%, 61%);
}

/**NAVIGATION**/
/**MOBILE-ADAPTIVE**/
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 30;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #FFC700;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFC700;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 900px) {
  .burger {
    display: block;
  }
  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    background: white;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }
  .nav--visible {
    transform: none;
  }
  .header__list {
    flex-direction: column;
    padding: calc((1vw + 1vh) * 3) calc((1vw + 1vh) * 7.5);
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .header__item {
    padding: 40px 30px;
  }
}
/**MOBILE-ADAPTIVE**/
.main {
  background-image: url(../images/main/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main__box {
  display: flex;
  flex-direction: column;
  padding-block: 490px 60px;
}
.main .main__box .main__box-titel {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.main .main__box .main__box-info {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.main .main__box .main__box-info-date {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: hsl(0deg, 0%, 100%);
}
.main .main__box .main__box-info-date span {
  color: hsl(0deg, 0%, 71%);
}

.blog {
  padding-block: 60px 80px;
}
.blog .blog__box {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
}
.blog .blog__box .blog__content {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
.blog .blog__box .blog__content .blog__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
}
.blog .blog__box .blog__sidebar {
  flex-basis: 270px;
  flex-grow: 1;
}

/**CARD-STYLE**/
.blog__card {
  max-width: 370px;
  text-align: center;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
}
.blog__card .blog__card-img {
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
}
.blog__card .card-titel {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #C9A96E;
}
.blog__card .card__text {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.blog__card .card__text-date {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  -webkit-padding-after: 14px;
          padding-block-end: 14px;
}

.blog__card-full {
  max-width: 770px;
  -webkit-padding-after: 30px;
          padding-block-end: 30px;
}
.blog__card-full .card__full-img {
  -webkit-padding-after: 25px;
          padding-block-end: 25px;
}
.blog__card-full .card-titel-full {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #C9A96E;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.blog__card-full .card__text-full {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #171717;
  -webkit-padding-after: 11px;
          padding-block-end: 11px;
}
.blog__card-full .card__text-date-full {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  -webkit-padding-after: 14px;
          padding-block-end: 14px;
}
.blog__card-full .card__exra-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

/**CARD-STYLE**/
/**SIDEBAR-CARD-STYLE**/
.sibar__box {
  border: 1px solid #E5E5E5;
  padding-block: 15px;
  text-align: center;
}
.sibar__box .sidebar__prev {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #171717;
}

.sibar__box:where(.nav) {
  -webkit-margin-after: 34px;
          margin-block-end: 34px;
}

.sidebar__card {
  max-width: 270px;
  text-align: center;
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
}
.sidebar__card .sidebar__box-img {
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}
.sidebar__card .sidebar__titel {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #171717;
  -webkit-padding-after: 4px;
          padding-block-end: 4px;
}
.sidebar__card .sidebar__info {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #B1B1B1;
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
}
.sidebar__card .sidebar__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  -webkit-padding-after: 27px;
          padding-block-end: 27px;
}
.sidebar__card .sidebar__btn {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #C9A96E;
}

.sidebar__nav-list {
  -webkit-padding-after: 70px;
          padding-block-end: 70px;
}
.sidebar__nav-list .sedebar__nav-item {
  border-bottom: 1px solid #E5E5E5;
  -webkit-padding-after: 15px;
          padding-block-end: 15px;
}
.sidebar__nav-list * + * {
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}
.sidebar__nav-list .sidebar__nav-link {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  transition: 500ms ease-in;
}
.sidebar__nav-list .sidebar__nav-link:hover {
  color: hsl(39deg, 46%, 61%);
}

.tag__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag__list .tag__item {
  background-color: hsl(210deg, 17%, 98%);
  padding: 6px 15px;
  transition: 500ms ease-in;
}
.tag__list .tag__item:hover {
  background-color: white;
}
.tag__list .tag__item .tag__link {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  transition: 500ms ease-in;
}
.tag__list .tag__item .tag__link:hover {
  color: hsl(39deg, 46%, 61%);
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**SIDEBAR-CARD-STYLE**/
.inst {
  -webkit-padding-after: 100px;
          padding-block-end: 100px;
}
.inst .inst__titel {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #171717;
  -webkit-padding-after: 40px;
          padding-block-end: 40px;
}

.inst__box {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
          mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
}

.inst__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 21px;
  min-width: 100%;
  -webkit-animation: scroll-x 30s linear infinite;
          animation: scroll-x 30s linear infinite;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}

@-webkit-keyframes scroll-x {
  from {
    transform: translateX 0;
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}

@keyframes scroll-x {
  from {
    transform: translateX 0;
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}
@-webkit-keyframes scroll-y {
  from {
    transform: translateY 0;
  }
  to {
    transform: translateY calc(-100% - 21px);
  }
}
@keyframes scroll-y {
  from {
    transform: translateY 0;
  }
  to {
    transform: translateY calc(-100% - 21px);
  }
}
.footer {
  -webkit-padding-after: 50px;
          padding-block-end: 50px;
}
.footer .footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__box .footer__logo {
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
}
.footer .footer__box .footer__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer__box .footer__link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}/*# sourceMappingURL=style.css.map */